@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    border: boder-box;
    font-family: 'Noto Sans TC';
}

@media (max-width:1920px){
    body{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    body nav{
        width: 100%;
        height: 54px;
        background-color: #fff;
        display: grid;
        justify-items: center;
        position:fixed;
        top: 0;
        right: 0;
        z-index: 3;
    }

    body nav .nav{
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    body nav .nav ul{
        display: grid;
        grid-template-columns: repeat(2,100px);
        font-size: 16px;
        line-height: 20px;
        color: #666666;
        padding: 20px;
        justify-self: end;
        
    }

    li{
        list-style-type: none;
        justify-self: end;
    }

    .nav h2{
        font-size: 30px;
        line-height: 34px;
        color: #448899;

        font-weight: bolder;
    }

    header{
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/images/welcomeimage.png);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: relative;
        top: 54px;
       
    }

    .header{
        width: 1170px;
        padding: 15px;
        height: 148px;
    }

    .header h1{
        margin-top: 10px;
        font-weight: 700;
        font-size: 28px;    
        line-height: 32px;
        align-items: center;
        color: #F8F8F8;
        text-shadow: 0px 0px 30px #AABBCC;
        position: relative;
        top: 0px;
    }

    .header h4{
        margin-top: 15px;
        margin-bottom: 25px;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #F8F8F8;
        position: relative;
        top: 0px;
    }

    #search{
        width: 450px;
        height: 46px;
        border-radius: 5px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        position: relative;
        top: 0px;
    }

    #search > div{
        width: 60px;
        height: 46px;
        border-radius:0px 5px 5px 0px;
        background-color: #448899;
        display: flex;
        position: relative;
        top: 0px;
        z-index: 2;
    }

    #search input{
        width: 370px;
        height: 16px;
        margin: 10px;
        justify-items: flex-start;
        background-color: #FFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #757575;
        border: 0;
        outline: none;
        position: relative;
        top: 0px;
        z-index: 2;
    }

    .noCats{
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #fff;
        opacity: 0;
        position:absolute;
        top: 0;
    }
    .noCats > div{
        width: 100vh;
        height: 100vh;
        opacity: 0;
    }

    .cats{
        width: 350px;
        background-color: #ebecec;
        color: #464646;
        border-radius:5px 5px 5px 5px;
        display: none;
        grid-template-columns: repeat(3,100px);
        padding-right: 38px;
        row-gap: 2px;
        position: relative;
        top: -5px;
        z-index: 2;
        border: 1px solid #dee8eb;
        box-shadow: 4px 6px 11px -2px #E8F2F1;
    }

    .cats > li{
        font-weight: bold;
        padding: 3px;
        background-color: #d9d9d9;
        border-radius:2px;
    }

    .header > div > div > img{
        width: 30px;
        height: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        justify-items: center;
        align-items: center;
    }

    main{
        width: 1200px;
        margin-top: 50px;
        margin-bottom: 55px;
        position: relative;
        top: 54px;
    }

    .container{
        width: calc(100%-30px);
        min-height: 41vh;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4,1fr);
        column-gap: 30px;
        row-gap: 30px;
        justify-items: center;
    }

    .container-item{
        width: 270px;
        height: 240px;
        display: grid;
        grid-template-rows: 5fr 1fr;
    }

    .container-item img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }

    .item-info{
        height: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        background-color: #FFF;
        border-radius: 0 0 5px 5px;
        position: relative;
        bottom: 40px;
        border-style: solid;
        border-color: #e4e4e4;
        border-width: 1px;
        border-top-width: 0;

    }

    .item-mrt{
        padding-left: 10px;
        justify-content: start;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #757575;
        background-color: #FFF;
    }

    .item-cat{
        padding-right: 10px;
        justify-self: end;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #757575;
        background-color: #FFF;
    }

    .item-name{
        height: 40px;
        display: grid;
        z-index: 1;
        position: relative;
        bottom: 40px;
        padding-left: 10px;
        justify-items: start;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        color: #FFF;
        font-weight: bold;
        background-color: hsla(0, 0%, 0%, 0.6);
    }

    footer{
        margin-top: 55px;
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 104px;
        background-color: #757575;
    }

    footer > p {

        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }


}

@media (max-width:1200px){
    header{
        width: 100%;
    }
    body nav .nav,main,.header{
        width: 90%;
    }

    body nav .nav ul{
        column-gap: 15px;
        padding: 15px;
        grid-template-columns: repeat(2,1fr);
    }


    .container{
        grid-template-columns: repeat(2,1fr);
    }

    .container-item{
        width:100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .container-item img{
        height: 250px;
    }


}

@media (min-width:360px) and (max-width:600px){
    body nav .nav{
        grid-template-columns: 50% 1fr;
        
    }

    .header{
        width: 83%;
    }

    body nav .nav ul{
        column-gap: 10px;
    }

    .header > div{
        width: 280px;
    }

    .header div input{
        width: 195px;
    }

    .container{
        grid-template-columns: 1fr;
    }
    .container-item img{
        height: 200px;
    }

    .container-item{
        margin-top: 0px;
        margin-bottom: 0px;
    }

}
