<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid practice</title>
    <link rel="stylesheet" href="style_index.css">
</head>
<body>
    <nav>
        <div class="nav">
            <h2>台北一日遊</h2>
            <ul>
                <li>預定行程</li>
                <li>登入/註冊</li>
            </ul>
        </div>
        
    </nav>

    <header>
        <div class="header">
            <h1>輕鬆享受台北一日悠閒</h1>
            <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
            <div>
                <input type="text" name="search" value="輸入景點名稱查詢">
                <div>
                    <img src="/images/icon_search.png" alt=""> 
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="container">
            <div>
                <img src="https://picsum.photos/400/300?random=3" alt="">
                <h4>Title 1</h4>
                <div>
                    cat
                </div>
            </div>
            <div>
                <img src="https://picsum.photos/400/350?random=4" alt="">
                <h4>Title 2</h4>
            </div>
            <div>
                <img src="https://picsum.photos/400/300?random=5" alt="">
                <h4>Title 3</h4>
            </div>
            <div>
                <img src="https://picsum.photos/400/300?random=6" alt="">
                <h4>Title 4</h4>                
            </div>
            <div>
                <img src="https://picsum.photos/400/300?random=7" alt="">
                <h4>Title 5</h4>
            </div>
            <div>
                <img src="https://picsum.photos/400/300?random=8" alt="">
                <h4>Title 6</h4>
            </div>
            <div>
                <img src="https://picsum.photos/400/300?random=9" alt="">
                <h4>Title 7</h4>
            </div>
            <div>
                <img src="https://picsum.photos/400/300?random=10" alt="">
                <h4>Title 8</h4>
            </div>

        </section>
    </main>
    <footer>
        <p>COPYRIGHT © 2022 台北一日遊</p>
    </footer>

    
</body>
</html>