<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="style_index.css">
</head>

<body>
    <div class="noCats" onclick="noCats()"><div></div></div>
    <nav>
        <div class="nav">
            <h2>台北一日遊</h2>
            <ul>
                <li>預定行程</li>
                <li>登入/註冊</li>
            </ul>
        </div>

    </nav>

    <header>
        <div class="header">
            <h1>輕鬆享受台北一日悠閒</h1>
            <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
            <div id="search">
                <input type="text" id="keyword" name="keyword" placeholder="輸入景點名稱查詢" onclick="showCats()">
                <div onclick="getSearch()">
                    <img src="/images/icon_search.png" alt="" >
                </div>
            </div>
            <ul class="cats" id="cats">
                    
            </ul>
        </div>
    </header>
    <main>
        <section class="container">


        </section>
    </main>
    <footer>
        <p>COPYRIGHT © 2022 台北一日遊</p>
    </footer>


    <script>
        const attractions = "http://52.192.27.239:3000/api/attractions?page=";
        let url="";
        const cats=document.querySelector("#cats");
        
        let flag=true;
        let nextpage=0;
        let key=false;
        let keyword="";

        function fetchData() {
            flag=false;
            return fetch(url)
                .then(function (response) {
                    return response.json();
                }).then(function (data) {

                    nextpage = data["nextpage"];
                    data = data["data"];
                    if(data.length==0){
                        const container = document.querySelector(".container");
                        container.innerHTML="沒有符合關鍵字的搜尋結果";
                    }

                    for (i = 0; i < data.length; i++) {

                        let idi = data[i]["id"];

                        const container = document.querySelector(".container");
                        let newItem = document.createElement("div");
                        newItem.className = "container-item";
                        let newImg = document.createElement("img");
                        let newName = document.createElement("div");
                        newName.className = "item-name";
                        let newInfo = document.createElement("div");
                        newInfo.className = "item-info";
                        let newMrt = document.createElement("div");
                        newMrt.className = "item-mrt";
                        let newCat = document.createElement("div");
                        newCat.className = "item-cat";

                        newItem.id = "item" + idi;
                        container.appendChild(newItem);

                        let item = document.querySelector("#item" + idi)
                        newImg.src = data[i]["images"][0];
                        item.appendChild(newImg);
                        newName.id = "item-name" + idi;
                        item.appendChild(newName);
                        let name = document.querySelector("#item-name" + idi);
                        name.innerHTML = data[i]["name"];

                        newInfo.id = "item-info" + idi;
                        item.appendChild(newInfo);

                        let info = document.querySelector("#item-info" + idi)
                        newMrt.id = "info-mrt" + idi;
                        info.appendChild(newMrt);
                        let mrt = document.querySelector("#info-mrt" + idi);
                        mrt.innerHTML = data[i]["mrt"];
                        newCat.id = "info-cat" + idi;
                        info.appendChild(newCat);
                        let cat = document.querySelector("#info-cat" + idi);
                        cat.innerHTML = data[i]["category"];
                    }
                    setTimeout(()=>{flag=true;},1000);
                }); 
        }

        async function getAllData(i) {
            await fetchData(i);
        }

        function getCat(){
            url="http://52.192.27.239:3000/api/categories";
            return fetch(url)
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                        data=data["data"];
                        for(i=1;i<=data.length;i++){
                            const addCats=document.createElement("li");
                            addCats.id="cat"+i;
                            cats.appendChild(addCats);
                            catName=data[i-1];
                            let cat=document.querySelector("#cat"+i);
                            cat.innerHTML=catName; 
                            cat.onclick=function(){
                                let inputCat=document.querySelector("#keyword");
                                inputCat.value=cat.innerHTML;
                                cats.style.display="none";
                            };
                        }
                    });
        }
        
        getCat();
        

        url=attractions+"0";
        getAllData();

        window.addEventListener('scroll', function () {
            const scrollTop = document.documentElement.scrollTop;
            const scrollHeight = document.documentElement.scrollHeight;
            const clientHeight = document.documentElement.clientHeight;
            if(flag==true){
                if (clientHeight + scrollTop >= scrollHeight - 5) {
                    flag=false;
                    addData();
                }
            }
        });
        
        function addData() {
            if(nextpage!=null){
                if(key==false){
                    url=attractions+nextpage;
                }
                if(key==true){
                    url=attractions+nextpage+"&keyword="+keyword;

                }

                getAllData();
            }
        }

        function getSearch(){
            cats.style.display="none";
            flag=false;
            key=true;
            keyword=document.querySelector("#keyword").value;
            url=attractions+"0&keyword="+keyword;
            const container = document.querySelector(".container");
            container.innerHTML="";
            fetchData();
            
        }

        function showCats(){
            cats.style.display="grid";
        }

        function noCats(){
            cats.style.display="none";
        }



    </script>

</body>

</html>